<ion-view>

  <ion-content>
   <div class="row header">
   <div class="col">Item</div>
   <div class="col">Quantity Bought</div>
   </div>
   
   <div class="row">
   <div class="col"><img class ="cart" src="img\milk1.png" alt="milk 1L"></div>
   <div class="col"><h1 id="m1">0</h1></div>
   </div>
   
   <div class="row">
   <div class="col"><img class ="cart" src="img\milk2.png" alt="milk 2L"></div>
   <div class="col"><h1 id="m2">0</h1></div>
   </div>

   <div class="row">
   <div class="col"><img class ="cart" src="img\wbread.png" alt="White Bread"></div>
   <div class="col"><h1 id="wb">0</h1></div>
   </div>

   <div class="row">
   <div class="col"><img class ="cart" src="img\brbread.png" alt="Brown Bread"></div>
   <div class="col"><h1 id="brb">0</h1></div>
   </div>
   
   <div class="row">
   <div class="col"><img class ="cart" src="img\butter.png" alt="Butter"></div>
   <div class="col"><h1 id="bu">0</h1></div>
   </div>

   <div class="row">
   <div class="col"><img class ="cart" src="img\chicken.png" alt="Whole Chicken"></div>
   <div class="col"><h1 id="ch">0</h1></div>
   </div>

   <div class="row">
   <div class="col"><img class ="cart" src="img\eggs.png" alt="eggs"></div>
   <div class="col"><h1 id="e">0</h1></div>
   </div>

   <div class="row">
   <div class="col"><img class ="cart" src="img\tea.png" alt="Teabag box"></div>
   <div class="col"><h1 id="t">0</h1></div>
   </div>

   <div class="row">
   <div id="last" class="col"><img class ="cart" src="img\mince beef.png" alt="Mince Beef"></div>
   <div id="last" class="col"><h1 id="min">0</h1></div>
   </div>

  </ion-content>

</ion-view>
