<ion-view>

   <ion-content>
    <ion-list can-swipe="true">

      <ion-item>
      <img class="prices" src="img\milk1.png" alt="milk 1L">Milk 1Ltr
      <button id="m1" class="button button-positive" onclick="addfun(this)">€0.80</button>
            <ion-option-button id="m1" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="m1" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>
      
    
      <ion-item>
      <img class="prices" src="img\milk2.png" alt="milk 2L">Milk 2Ltr
      <button id="m2" class="button button-positive" onclick="addfun(this)">€1.30</button>
            <ion-option-button id="m2" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="m2" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>

      <ion-item>
      <img class="prices" src="img\wbread.png" alt="White Bread">Whitte Bread
      <button id="wb" class="button button-positive" onclick="addfun(this)">€1.85</button>
            <ion-option-button id="wb" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="wb" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>

      <ion-item>
      <img class="prices" src="img\brbread.png" alt="Brown Bread">Brown Bread
      <button id="brb" class="button button-positive" onclick="addfun(this)">€2.20</button>
            <ion-option-button id="brb" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="brb" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>

      <ion-item>
      <img class="prices" src="img\butter.png" alt="Butter">Butter
      <button id="bu" class="button button-positive" onclick="addfun(this)">€1.25</button>
            <ion-option-button id="bu" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="bu" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>

      <ion-item>
      <img class="prices" src="img\chicken.png" alt="Whole Chicken">Chicken
      <button id="ch" class="button button-positive" onclick="addfun(this)">€4.10</button>
            <ion-option-button id="ch" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="ch" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>

      <ion-item>
      <img class="prices" src="img\eggs.png" alt="eggs">Eggs
      <button id="e" class="button button-positive" onclick="addfun(this)">€2.50</button>
            <ion-option-button id="e" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="e" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>

      <ion-item>
      <img class="prices" src="img\tea.png" alt="Teabag box">Tea Bags
      <button id="t" class="button button-positive" onclick="addfun(this)">€1.99</button>
            <ion-option-button id="t" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="t" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>

      <ion-item>
      <img class="prices" src="img\mince beef.png" alt="Mince Beef">Mince Beef
      <button id="min" class="button button-positive" onclick="addfun(this)">€4.25</button>
            <ion-option-button id="min" onclick="chgfun(this)"><i class="icon ion-pricetag"></i></ion-option-button>
            <ion-option-button id="min" class="button button-assertive" onclick="subfun(this)"><i class="icon ion-android-remove-circle"></i></ion-option-button>
      </ion-item>      

    </ion-list>
      </ion-content>
</ion-view>




