<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 1st Tab -->
  <ion-tab title="Prices" icon-off="ion-calculator" icon-on="ion-calculator" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- 2nd Tab -->
  <ion-tab title="Shopping List" icon-off="ion-android-cart" icon-on="ion-android-cart" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
